<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up</title>
    <%- include('layout/head'); %>
</head>
<body class="bg-1 d-flex flex-column min-vh-100" style="margin: 0px auto">
<div>
    <%- include('layout/navbar'); %>

    <div class="container py-2">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-10">
                <div class="card bg-light" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black ">
                                <form action="/items/" method="post">

                                    <div class="form-floating form-group mb-3">
                                        <input type="text" name="title" class="form-control" id="title" placeholder="Title" required>
                                        <label for="title"> Name</label>
                                    </div>
                                    <div class="form-floating form-group mb-3">
                                    <div class="form-group mb-3">
                                        <textarea type="text" name="description" class="form-control" id="description" placeholder="Description" required></textarea>
                                    </div>
                                    </div>
                                    <div class="form-floating form-group mb-3">
                                        <input type="number" name="year" class="form-control" id="year" placeholder="Year" required>
                                        <label for="title"> Price in TG</label>
                                    </div>
                                    <div class="form-floating form-group mb-3">
                                        <input type="text" name="genre" class="form-control" id="genre" placeholder="Genre" required>
                                        <label for="genre"> Verse</label>
                                    </div>

                                    <div class="form-floating form-group mb-3">
                                        <input type="text" name="director" class="form-control" id="director" placeholder="Director" required>
                                        <label for="director"> Genre</label>
                                    </div>

                                    <div class="form-floating form-group mb-3">
                                        <input type="text" name="cover" class="form-control" id="cover" placeholder="Cover" required>
                                        <label for="cover"> Image</label>
                                    </div>

                                    <button class="btn btn-lg btn-dark rounded-pill mt-4" type="submit">Add</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('layout/footer'); %>

</body>
</html>