<!DOCTYPE html>
<head>
  <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
  <meta charset = "utf - 8">
  <title>Login / Sign up</title>
  <link rel="stylesheet" href="assets/css/registration.css">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a7193267c8.js" crossorigin="anonymous"></script>

  <link rel="shortcut icon" type="image/svg" href="public/img/logo.svg"/>
</head>
<body>

<div class = "container">
  <form class = "form form--hidden" id = "login">
    <h1 class = "formTitle">
      Login
      <i class="far fa-user"></i>
    </h1>

    <div class = "formMessage formMessageError">
      <!----Incorrect Username or Password---->
    </div>
    <div class = "formInputGroup">
      <input type = "text" class = "formInput"   autofocus placeholder="Username or Email">
      <div class = "formInputMessageError"></div>
    </div>
    <div class = "formInputGroup">
      <input id="pass3"  type = "password" class = "formInput" autofocus placeholder="Password">
      <div class = "formInputMessageError"></div>
    </div>
    <div class="reg-btn">
      <a id="gg" class = "fontButton" href = "index">Continue</a>
    </div>
    <p class = "formText">
      <a href = "#" class = "formLink">
        Forgot your password?
      </a>
    </p>
    <p class = "formText">
      <a class = "formLink" id = "LinkCreateAccount">
        Don't have account? Create account
      </a>
    </p>
  </form>
  <form class = "form" id = "createAccount" method="post">
    <h1 class = "formTitle">
      Create Account
      <i class="far fa-user"></i>
    </h1>

    <div class = "formMessage formMessageError">
      <!---Incorrect Username or Password--->
    </div>
    <div class = "formInputGroup">
      <input type = "text" class = "formInput" autofocus placeholder="Username">
      <div class = "formInputMessageError"></div>
    </div>
    <div class = "formInputGroup">
      <input type = "text" name="email" class = "formInput" autofocus placeholder="Email Address">
      <div class = "formInputMessageError"></div>
    </div>
    <div class = "formInputGroup">
      <input id="pass1"  name="password" type = "password" class = "formInput" autofocus placeholder="Password">
      <div class = "formInputMessageError"></div>
    </div>
    <div class = "formInputGroup">
      <input id="pass2" name="passwordr"type = "password" class = "formInput" autofocus placeholder="Confirm Password">
      <div class = "formInputMessageError"></div>
    </div>
    <div class="reg-btn">
<!--      <a id="ww" class = "fontButton"  href = "EngLearn">Continue</a>-->
      <button type="submit" formmethod="post"></button>
    </div>
    <p class = "formText"><br>
      <a class = "formLink" id = "linkLogin">
        Already have an account? Sign in
      </a>
    </p>
  </form>
</div>
<div class = "total">
  <video class = "registrationBack" src="video_registration.mp4" autoplay muted></video>
</div>
<script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src = "css/registration.js"></script>
<style>
  body {
    --color-primary: #202125;
    --color-primary-dark: #2a2c31;
    --color-secondary: #FF4343;
    --color-error: red;
    --color-success: green;
    --border-radius: 5px;


    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #0d6efd;
  }
  .container{
    width:  400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    background-color: ghostwhite;
  }

  .container,
  .formInput,
  .formButton{
    font: 500 1rem "Montserrat", sans-serif;
  }

  .form--hidden {
    display: none;
  }

  .form > *:first-child {
    margin-top: 0;
  }
  .form > *:last-child {
    margin-top: 0;
  }
  .formMessage {
    text-align: center;
    margin-bottom: 1rem;
  }
  .formMessageSuccess {
    color: var(--color-success);
  }
  .formMessageError {
    color: var(--color-error);
  }
  .formTitle {
    text-align: center;
    margin-bottom: 2rem;
  }
  .formInputGroup {
    margin-bottom: 1rem;
  }
  .formInput {
    display:  block;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background-color: #eeeeee;
    transition: background 0.5s, border-color 0.5s;
  }

  .formInput:focus {
    border-color: var(--color-primary);
    background-color: #ffffff;
  }
  .formInputError {
    color: var(--color-error);
  }
  .formInputMessageError {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--color-error);
  }

  .fontButton {
    text-decoration: none;
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #0d6efd;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: skyblue;
  }
  .fontButton:hover{
    background-color: var(--color-primary-dark);
  }
  .fontButton:active{
    transform: scale(0.98);
  }

  .formText {
    text-align: center;
    text-align: center;
    margin-top: 2rem;
  }

  .formLink {
    color: var(--color-secondary);
    cursor: pointer;
    text-decoration: none;
  }
  .fontLink:hover {
    text-decoration: underline;

  }
  .registrationBack{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw)/2));
  }
  .total{
    z-index: -1000000;
  }

  .reg-btn {
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
  }

</style>
<script>
  document.getElementById('linkLogin').onclick = function(){
    document.getElementById('login').classList.remove('form--hidden');
    document.getElementById('createAccount').classList.add('form--hidden');
  }
  document.getElementById('LinkCreateAccount').onclick = function(){
    document.getElementById('login').classList.add('form--hidden');
    document.getElementById('createAccount').classList.remove('form--hidden');
  }
  document.getElementById('ww').onclick = function(){
    var text1 = document.getElementById("pass1");
    var text2 = document.getElementById("pass2");
    var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,100}$/;
    if(document.getElementById("pass1").value.match(passw))
    {
      if(text1.value == text2.value){
        location.href="car.html"
      }
      else{
        alert("Passwords do not match");
      }
    }
    else
    {
      alert('The password must consist of 1 capital letter and 1 letter and 1 digit and must be at least 8')
    }
  }
  document.getElementById('gg').onclick = function(){
    var text1 = document.getElementById("pass3");
    var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,100}$/;
    if(document.getElementById("pass3").value.match(passw))
    {
      location.href="car.html"
    }
    else
    {
      alert('False password. The password must consist of 1 capital letter and 1 letter and 1 digit and must be at least 8')
    }
  }
</script>
</body>
</html>